.hero {
  height: auto;
  min-height: calc(100vh - var(--section-offset) * 2 - 120px); // 120px - высота шапки

  &__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
  }

  &__title {
    margin: 0 0 var(--big-offset);
    font-size: 60px;
  }

  &__descr {
    margin: 0;
    max-width: 58%;
    font-size: 25px;
    line-height: 1.2;

    span {
      color: var(--color-main);

      &:last-child {
        font-weight: 700;
      }
    }

    @include small-tablet {
      max-width: none;
    }
  }

  &__image {
    position: relative;
    margin: var(--big-offset) 0 0;
    user-select: none;

    &::after {
      content: "";
      position: absolute;
      left: 50%;
      top: -15px;
      z-index: -1;
      border-radius: 100%;
      width: 105%;
      height: 105%;
      background-color: var(--color-main);
      transform: translate(-50%, 0);

      @include mobile {
        top: -11px;
      }
    }

    img {
      display: block;
      border-bottom-right-radius: 100%;
      border-bottom-left-radius: 100%;
      width: 250px;
      height: 250px;

      @include mobile {
        width: 200px;
        height: 200px;
      }
    }
  }

  @include tablet {
    padding-top: calc(var(--section-offset) * 2);
    height: auto;
  }
}