.skills {
  position: relative;
  padding-top: calc(var(--section-offset) * 2);

  &::after {
    content: "";
    position: absolute;
    left: 50%;
    top: var(--section-offset);
    z-index: -1;
    display: block;
    border-radius: 15px;
    width: 100%;
    height: calc(100% - var(--section-offset));
    max-width: 90%;
    background-color: var(--color-main);
    transform: translateX(-50%);
  }

  &__container {
    display: flex;
    flex-direction: column;
  }

  &__list {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    margin: var(--big-offset) auto 0;
    max-width: 90%;
    gap: var(--big-offset);
  }

  &__item {
    width: 15%;
    min-width: 130px;
  }
}