@if(feedback_section === true) {<footer class="footer footer--custom" data-aos="fade-down" data-aos-offset="600">}
@if(feedback_section === false) {<footer class="footer" data-aos="fade-down" data-aos-offset="1200">}
  <div class="footer__container container">
    @if (feedback_section === true) {@include('../blocks/feedback.html')}
    @include('../blocks/logo.html', {"curr_section": "footer"})
    @include('../blocks/nav.html', {"curr_section": "footer"})
    @include('../blocks/socials.html', {"curr_section": "footer"})
    <p class="footer__copyright">© Created by dyakonovr. All rights Reserved</p>
  </div>
</footer>