<header class="header">
  <div class="container header__container">
    @include('../blocks/logo.html', {"curr_section": "header"})
    <button class="header__burger burger" aria-label="Открыть меню" aria-expanded="false" data-burger>
      <span class="header__burger-line burger-line"></span>
    </button>
    <div class="header__menu" data-menu-mobile>
      @include('../blocks/nav.html', {"curr_section": "header"})
      @include('../blocks/socials.html', {"curr_section": "header"})
    </div>
  </div>
</header>