<section class="hero section" id="hero" data-section-title="Обо мне">
  <div class="hero__container container" data-aos="fade-up" id="hero-container"> 
    <h1 class="hero__title neon-title">Дьяконов Руслан</h1>
    <p class="hero__descr">Привет, я <span>Frontend-разработчик и фрилансер,</span> обучаюсь в УлГТУ на Факультете информационных систем и технологий, направление "Программная инженерия". Два года назад я влился в
      Web-разработку и уже верстаю <span>сайты средней сложности</span> и создаю интересные <span>приложения на React</span>. Если Вам нужен <span>отзывчивый</span> и <span>добросовестный разработчик</span>, знающий своё дело, то <span class="underline">Вы пришли по адресу.</span></p>
    <div class="hero__image">
      <img src="@img/hero.png" alt="Дьяконов Руслан">
    </div>
  </div>
</section>