<section class="hero section" id="hero">
  <div class="hero__container container">
    <h1 class="hero__title">Дьяконов Руслан</h1>
    <p class="hero__descr">Привет, я <span>Frontend-разработчик и фрилансер</span>. Я относительно недавно влился в Web-разработку, но уже верстаю сайты средней сложности и создаю интересные приложения на React. Если Вам нужен сайт, то <span>Вы пришли по адресу.</span></p>
    <p class="hero__descr"></p>
    <div class="hero__image">
      <img src="@img/hero.png" alt="Дьяконов Руслан">
    </div>
  </div>
</section>