<section class="hero section">
  <div class="hero__container container">
    <h1 class="hero__title">Дьяконов Руслан</h1>
    <p class="hero__descr">I’m a full-stack developer with great experience and passion for coding and building plain interfaces. I have a manic
    love for great high-loaded projects. Plus, I’m an easy-going person and fit in any team. I work remotely and save your
    budget on my workplace. So, if you have a complicated task, you’ve found the right person.</p>
    <div class="hero__image">
      <img src="@img/hero.png" alt="Дьяконов Руслан">
    </div>
  </div>
</section>