<section class="projects section" id="projects">
  <div class="projects__container container">
    <h2 class="projects__title title">Мои проекты</h2>
    <ul class="projects__list list-reset">
      @loop('../blocks/project.html', [
      {"title": "WowTaxi", "descr": "UX design of the WowTaxi company's website, iOS and Android apps by creating easy-to-use and plain user experience for the customers.", "img_file": "aesop.png", "color": "#f7b300"},
      {"title": "WowTaxi", "descr": "UX design of the WowTaxi company's website, iOS and Android apps by creating easy-to-use and plain user experience for the customers.", "img_file": "aesop.png", "color": "#f7b300"},
      {"title": "WowTaxi", "descr": "UX design of the WowTaxi company's website, iOS and Android apps by creating easy-to-use and plain user experience for the customers.", "img_file": "aesop.png", "color": "#f7b300"}
      ])
    </ul>
  </div>
</section>