<section class="skills section" id="skills" data-section-title="Мои навыки">
  <div class="skills__container container" data-aos="fade-up" data-aos-offset="130">
    <h2 class="skills__title title">Мои навыки</h2>
    <ul class="skills__list list-reset">
      @loop('../blocks/skill.html', [
      {"img_name": "html", "name": "HTML5"},
      {"img_name": "css", "name": "CSS3"},
      {"img_name": "js", "name": "JavaScript"},
      {"img_name": "gulp", "name": "GULP"},
      {"img_name": "react", "name": "React"},
      {"img_name": "github", "name": "Github"},
      {"img_name": "json", "name": "Получение данных с API"},
      {"img_name": "php", "name": "Небольшой опыт с базами данных"}
      ])
    </ul>
  </div>
</section>