<section class="skills section" id="skills">
  <div class="skills__container container">
    <h2 class="skills__title title">С чем я уже работал?</h2>
    <ul class="skills__list list-reset">
      @include('../blocks/skill.html', {"img_name": "html", "name": "HTML5"})
      @include('../blocks/skill.html', {"img_name": "css", "name": "CSS3"})
      @include('../blocks/skill.html', {"img_name": "js", "name": "JavaScript"})
      @include('../blocks/skill.html', {"img_name": "gulp", "name": "GULP"})
      @include('../blocks/skill.html', {"img_name": "react", "name": "React"})
      @include('../blocks/skill.html', {"img_name": "redux", "name": "Redux"})
      @include('../blocks/skill.html', {"img_name": "mobx", "name": "MobX"})
      @include('../blocks/skill.html', {"img_name": "github", "name": "Github"})
      @include('../blocks/skill.html', {"img_name": "json", "name": "Получение данных с API"})
      @include('../blocks/skill.html', {"img_name": "php", "name": "Небольшой опыт с базами данных"})
    </ul>
  </div>
</section>