<nav class="@curr_section__nav nav" data-menu>
  <ul class="@curr_section__list list-reset nav__list" data-section="@curr_section">
    <li class="@curr_section__item nav__item" data-menu-item><a href="#hero"
        class="@curr_section__link nav__link link-hover">Обо мне</a></li>
    <li class="@curr_section__item nav__item" data-menu-item><a href="#skills"
        class="@curr_section__link nav__link link-hover">С чем я работаю?</a></li>
    <li class="@curr_section__item nav__item" data-menu-item><a href="#projects"
        class="@curr_section__link nav__link link-hover">Мои проекты</a></li>
    <li class="@curr_section__item nav__item" data-menu-item><a href="#reviews"
        class="@curr_section__link nav__link link-hover">Отзывы клиентов</a></li>
  </ul>
</nav>