<nav class="@curr_section__nav nav" data-menu>
  <ul class="@curr_section__list list-reset nav__list">
    <li class="@curr_section__item nav__item" data-menu-item><a href="index.html#hero"
        class="@curr_section__link nav__link link-hover nav__link--selected">Обо мне</a></li>
    <li class="@curr_section__item nav__item" data-menu-item><a href="index.html#skills"
        class="@curr_section__link nav__link link-hover">С чем я уже работал?</a></li>
    <li class="@curr_section__item nav__item" data-menu-item><a href="index.html#projects"
        class="@curr_section__link nav__link link-hover">Мои проекты</a></li>
    <li class="@curr_section__item nav__item" data-menu-item><a href="index.html#reviews"
        class="@curr_section__link nav__link link-hover">Отзывы о моей работе</a></li>
  </ul>
</nav>