<li class="reviews__item review">
  <div class="review__left">
    <div class="review__image"><img src="@img/reviews/1.png" alt="Fred M., Team Lead, DoeWeb"></div>
    <strong class="review__title">Fred M.</strong>
    <span class="review__position">Team Lead, DoeWeb</span>
  </div>
  <div class="review__right box-shadow">
    <p class="review__text">Alex is a really talented guy with strong knowledge in different web development areas. He
      likes complicated tasks and
      enjoys solving them. Under my mentoring, Alex quickly became a strong middle developer, so I am proud of his
      success. I
      wish Alex all the best and further rapid development!</p>
  </div>
</li>