<ul class="@curr_section__socials socials list-reset">
  <li class="socials__item"><a href="https://vk.com/dyakonovrr" target="_blank" class="socials__link socials__link--vk">
    @include('../sprites/icon-vk.html', {"width": "30", "height": "30", "extra_class": "socials__icon"})
  </a></li>
  <li class="socials__item"><a href="https://t.me/dyakonovr" target="_blank" class="socials__link socials__link--tg">
    @include('../sprites/icon-tg.html', {"width": "30", "height": "30", "extra_class": "socials__icon"})
  </a></li>
  <li class="socials__item"><a href="https://github.com/dyakonovr" target="_blank" class="socials__link socials__link--git">
    @include('../sprites/icon-git.html', {"width": "30", "height": "30", "extra_class": "socials__icon"})
  </a></li>
</ul>