<ul class="@curr_section__socials socials list-reset">
  <li class="socials__item" data-social="ВКонтакте"><a href="https://vk.com/dyakonovrr" target="_blank"
      class="socials__link socials__link--vk">
      @include('../sprites/icon-vk.html', {"width": "30", "height": "30", "extra_class": "socials__icon socials__icon--vk"})
    </a></li>
  <li class="socials__item" data-social="Telegram"><a href="https://t.me/dyakonovr" target="_blank"
      class="socials__link socials__link--tg">
      @include('../sprites/icon-tg.html', {"width": "30", "height": "30", "extra_class": "socials__icon socials__icon--tg"})
    </a></li>
  <li class="socials__item" data-social="Gmail" id="mail-btn" data-mail="dyakonov.rr@gmail.com"><span
      class="socials__link socials__link--gmail">
      @include('../sprites/icon-gmail.html', {"width": "30", "height": "30", "extra_class": "socials__icon socials__icon--gmail"})
    </span></li>
  <li class="socials__item" data-social="WhatsApp"><a href="https://api.whatsapp.com/send?phone=79370340065"
      target="_blank" class="socials__link socials__link--whatsapp">
      @include('../sprites/icon-whatsapp.html', {"width": "30", "height": "30", "extra_class": "socials__icon socials__icon--whatsapp"})
    </a></li>
  <li class="socials__item" data-social="Github"><a href="https://github.com/dyakonovr" target="_blank"
      class="socials__link socials__link--git">
      @include('../sprites/icon-git.html', {"width": "30", "height": "30", "extra_class": "socials__icon socials__icon--git"})
    </a></li>
</ul>