.feedback {
  margin-top: -300px;

  &__container {
    position: relative;
    z-index: 1;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: var(--big-offset);

    @include tablet {
      grid-template-columns: repeat(4, 1fr);
    }

    @include small-tablet {
      grid-template-columns: 1fr;
    }
  }

  &__left {
    display: flex;
    flex-direction: column;
    justify-content: center;
    grid-column: span 4;
    border-radius: 15px;
    padding: calc(var(--big-offset) * 2);
    color: var(--color-black);
    background-color: var(--color-white);

    @include tablet {
      grid-column: span 2;
      padding: var(--big-offset);
    }
  }

  &__title {
    margin: 0;
    font-size: 50px;

    @include mobile {
      font-size: 30px;
    }
  }

  &__descr {
    margin: var(--middle-offset) 0 0;
    font-size: 20px;

    @include mobile {
      font-size: 16px;
    }
  }

  &__form {
    display: flex;
    flex-direction: column;
    grid-column: span 2;
    border-radius: 15px;
    padding: var(--big-offset) var(--middle-offset);
    background-color: var(--color-white);
  }

  @media (max-width: 768px) or (max-height: 350px) {
    margin: 0;
  }
}

.form {
  &__input {
    border-radius: 3px;
    padding: 2px 10px;
    width: calc(100% - 10px * 2);
    height: 40px;
    background-color: var(--background-input);

    &:focus-visible {
      outline: 2px solid var(--color-main);
    }
  }

  &__select {
    position: relative;
    margin: var(--middle-offset) 0;
    height: 44px;

    &::after {
      content: "";
      position: absolute;
      right: 15px;
      top: 50%;
      display: block;
      width: 10px;
      height: 10px;
      background-image: url("@svg/arrow.svg");
      background-size: 100% 100%;
      background-repeat: no-repeat;
      transform: translate(0, -50%);
      pointer-events: none;
    }

    select {
      appearance: none;
      border: 2px solid var(--background-input);
      border-radius: 3px;
      padding: 10px;
      width: calc(100% - 12px * 2);
      box-shadow: 0 1px 3px -2px #9098a9;
      font-family: inherit;
      font-size: 16px;
      background: var(--background-input);
      transition: all 150ms ease;
      cursor: pointer;

      &:required {
        &:invalid {
          color: #5a667f;
        }
      }

      &:focus {
        outline: none;
        border-color: var(--color-main);
      }
    }
  }

  &__option {
    color: var(--color-black);

    &[value=""][disabled] {
      display: none;
    }
  }

  &__btn {
    margin: var(--middle-offset) auto 0;
    border: 1px solid var(--color-main);
    width: 100%;
    max-width: 50%;

    @include small-tablet {
      max-width: 150px;
    }
  }
}