.project {
  position: relative;
  border-radius: 15px;
  width: calc(33.3% - var(--middle-offset));
  height: 275px;
  color: var(--color-white);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;

  &__preview {
    border-radius: 15px;
    height: 100%;
  }

  &__wrapper {
    position: absolute;
    left: 0;
    top: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 14px;
    width: calc(100% + 1px);
    height: 100%;
    background-color: rgba(0 0 0 / 90%);
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.2s ease-in-out, visibility 0.2s ease-in-out;
  }

  &__descr {
    margin: 0 0 var(--big-offset);
    max-width: 80%;
    font-size: 19px;
    text-align: center;
  }

  &__link {
    position: relative;
    display: inline-flex;
    overflow: hidden;
    transition: all 0.2s ease-in-out;

    &::before {
      content: "";
      position: absolute;
      left: 0;
      bottom: 0;
      width: calc(100%);
      height: 1px;
      background-color: currentcolor;
      transition: width 0.2s ease-in-out;
    }
  }

  &:hover &__wrapper {
    opacity: 1;
    visibility: visible;
  }

  @include big-desktop {
    width: calc(50% - var(--middle-offset));
    height: 300px;
  }

  @include small-tablet {
    width: 100%;
  }
}