.review {
  &__top {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    text-align: center;
  }

  &__image {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 200px;
    height: 200px;

    img {
      display: block;
      height: 100%;
    }

    @include mobile {
      width: 150px;
      height: 150px;
    }
  }

  &__title {
    margin: var(--middle-offset) 0 var(--small-offset);
    font-size: 25px;
    color: var(--color-main);
  }

  &__position {
    font-size: 18px;
    color: var(--color-gray);
  }

  &__bottom {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: var(--middle-offset) auto 0;
    border-radius: 15px;
    padding: var(--middle-offset);
    max-width: 80%;
    text-align: center;
    background-color: var(--color-white);
  }

  &__text {
    margin: 0;
    font-size: 21px;
    color: var(--color-gray);

    @include mobile {
      font-size: 19px;
    }
  }

  @include mobile {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
}