.socials {
  display: flex;
  align-items: center;

  &__item {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid var(--color-white);
    border-radius: 100%;
    transition: background-color 0.15s ease-in-out;
    cursor: pointer;

    &:not(:last-child) {
      margin: 0 7px 0 0;
    }

    &:hover {
      background-color: var(--color-white);
    }
  }

  &__icon {
    fill: var(--color-white);
    transform: scale(0.95);

    &,
    path,
    polygon {
      transition: fill 0.05s ease-in-out;
    }

    &--gmail {
      fill: transparent;
      stroke: var(--color-white);
      stroke-width: 2px;
    }

    @include mobile {
      width: 40px;
      height: 40px;
    }
  }

  &__link {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 3px;
  }

  &__item:hover &__icon {
    &--vk {
      fill: #4c75a3;
    }

    &--tg {
      fill: #229ed9;
    }

    &--gmail {
      transform: scale(0.9);

      path.a {
        fill: #4caf50;
        stroke: #4caf50;
      }

      path.b {
        fill: #1e88e5;
        stroke: #1e88e5;
      }

      polygon.c {
        fill: #e53935;
        stroke: #e53935;
      }

      path.d {
        fill: #c62828;
        stroke: #c62828;
      }

      path.e {
        fill: #fbc02d;
        stroke: #fbc02d;
      }
    }

    &--whatsapp {
      fill: #1ea34f;
    }

    &--git {
      fill: #0d2636;
    }
  }
}