.socials {
  display: flex;
  align-items: center;

  &__item {
    border: 2px solid var(--color-white);
    border-radius: 100%;
    padding: 3px;

    &:not(:last-child) {
      margin: 0 5px 0 0;
    }
  }

  &__link {
    display: block;
    width: 30px;
    height: 30px;
    background-size: 100%;
    background-repeat: no-repeat;

    &--tg {
      background-image: url("@svg/social/icon-tg.svg");
    }

    &--vk {
      background-image: url("@svg/social/icon-vk.svg");
    }

    &--git {
      background-image: url("@svg/social/icon-git.svg");
    }
  }
}