<section class="reviews section" id="reviews" data-section-title="Отзывы клиентов">
  <div class="reviews__container container" data-aos="fade-up" data-aos-offset="-150">
    <h2 class="reviews__title title">Отзывы клиентов</h2>

    <div class="swiper reviews__swiper" id="reviews-swiper">
      <div class="swiper-wrapper" id="reviews-list">
        
      </div>
      <div class="swiper-pagination swiper-pagination--reviews"></div>

      <div class="swiper-button-prev swiper-button-prev--reviews"></div>
      <div class="swiper-button-next swiper-button-next--reviews"></div>

    </div>
</section>