<section class="skills section" id="skills" data-section-title="С чем я работаю?">
  <div class="skills__container container" data-aos="fade-up" data-aos-offset="300">
    <h2 class="skills__title title">С чем я работаю?</h2>
    <div class="swiper skills__swiper" id="skills-swiper">
      <div class="swiper-wrapper">
        <div class="swiper-slide">@include('./blocks/skill.html', {"img_name": "html", "name": "HTML5"})</div>
        <div class="swiper-slide">@include('./blocks/skill.html', {"img_name": "css", "name": "CSS3"})</div>
        <div class="swiper-slide">@include('./blocks/skill.html', {"img_name": "js", "name": "JavaScript"})</div>
        <div class="swiper-slide">@include('./blocks/skill.html', {"img_name": "gulp", "name": "GULP"})</div>
        <div class="swiper-slide">@include('./blocks/skill.html', {"img_name": "react", "name": "React"})</div>
        <div class="swiper-slide">@include('./blocks/skill.html', {"img_name": "github", "name": "Github"})</div>
        <div class="swiper-slide">@include('./blocks/skill.html', {"img_name": "json", "name": "Получение данных с API"})</div>
        <div class="swiper-slide">@include('./blocks/skill.html', {"img_name": "php", "name": "Небольшой опыт с БД"})</div>
      </div>
      <div class="swiper-pagination swiper-pagination--skills"></div>

      <div class="swiper-button-prev swiper-button-prev--skills"></div>
      <div class="swiper-button-next swiper-button-next--skills"></div>
    </div>
    </ul>
  </div>
</section>