.header {
  padding: var(--big-offset) 0;

  &__container {
    display: flex;
    align-items: center;
  }

  &__logo {
    margin: -10px 0 0;
  }

  &__nav {
    margin: 0 var(--middle-offset) 0 auto;
  }
}