// Универсальные стили
.logo {
  font-size: 40px;
}

.section {
  padding: var(--section-offset) 0;
}

.title {
  margin: 0;
  font-size: 35px;
  text-align: center;
}

.link-hover {
  position: relative;
  overflow: hidden;

  &::before {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 0;
    height: 1px;
    background-color: currentColor; /* stylelint-disable value-keyword-case */
    transition: width 0.2s ease-in-out;
  }

  &:hover::before {
    width: 100%;
  }
}

.box-shadow {
  border-radius: 15px;
  box-shadow: 0 5px 10px 5px rgba(255, 255, 255, 20%); /* stylelint-disable color-function-notation */
}