// Универсальные стили
.logo {
  position: relative;
  font-size: 40px;

  &::before,
  &::after {
    content: "";
    position: absolute;
    width: 10px;
    height: 10px;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
    user-select: none;
  }

  &::before {
    left: -6px;
    top: 3px;
    border-top: 1px solid currentcolor;
    border-left: 1px solid currentcolor;
  }

  &::after {
    right: -6px;
    bottom: 0;
    border-right: 1px solid currentcolor;
    border-bottom: 1px solid currentcolor;
  }

  &:hover::before,
  &:hover::after {
    opacity: 1;
  }
}

.section {
  padding: var(--section-offset) 0;

  &:nth-child(odd) {
    background-color: var(--color-black);
  }
}

.title {
  margin: 0;
  font-size: 35px;
  text-align: center;
}

.link-hover {
  position: relative;
  overflow: hidden;

  &::before {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 0;
    height: 1px;
    background-color: currentcolor;
    transition: width 0.2s ease-in-out;
  }

  &:hover::before {
    width: 100%;
  }
}

.link-hover-different {
  &::before {
    width: 100%;
  }

  &:hover::before {
    width: 0;
  }

  @include tablet {
    border-bottom: 1px solid var(--color-main);

    &::before {
      display: none;
    }
  }
}

.box-shadow {
  border-radius: 15px;
  box-shadow: 0 5px 10px 5px rgba(255, 255, 255, 20%); /* stylelint-disable color-function-notation */
}

.btn {
  border-radius: 15px;
  padding: var(--small-offset) var(--middle-offset);
  color: var(--color-white);
  background-color: var(--color-main);
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out;

  &:hover {
    color: var(--color-main);
    background-color: var(--color-white);
  }
}