:root {
  // Цвета
  --color-white: #fff;
  --color-black: #161616;
  --color-main: #b146ea;
  --color-gray: rgb(148 148 148);
  --background-input: rgb(240 240 240);

  // Шрифты
  --font-family: "PT Sans";

  // Размеры контейнера
  --content-width: 1200px;
  --container-offset: 30px;
  --container-width: calc(var(--content-width) + (var(--container-offset) * 2));

  // Отступы

  --big-offset: 40px;
  --middle-offset: 20px;
  --small-offset: 10px;
  --section-offset: 75px;
}